.navbar {
    min-height: 2rem;
    max-width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: flex-end;
    list-style: none;
    gap: 2rem;

  

     
}
.Head{
    padding-right: 67rem;
    background-color: white;
}
.link a {
    text-decoration: none;
    
}